SCHEDULER_EXECUTION_MODE=queue

REDIS_HOST=
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_TLS=false

WORKER_HEARTBEAT_KEY=scheduler:worker:heartbeat

DB_HOST=
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

BROKER_ACCOUNT_SECRETS_KEY=
